.wrapper.blog,
.wrapper.contact {
    display: flex;
    width: 80%;
}

aside.blog,
aside.contact {
    width: 30%;
    margin-top: 10%;
}

// Comment for other develpers - 
// Rest of this Flexbox:
// main.blog,
// form.contact {
//     width: 70%;
// } Code for this flexbox on _main.scss

.aside-top-blog,
.aside-bottom-blog,
aside.contact {
    background: $bg-secondary;
    h5 {
        padding: 1%;
        text-transform: uppercase;
    }
    p {
        margin-top: 3%;
    }
}

.aside-top-blog {
    margin-bottom: 8%;
    img {
    margin-bottom: 7%;
    }
}

.aside-bottom-blog ul li {
    list-style: disc;
    margin-left: 10%;
    color: $theme-primary;
    a {
        color: $main-font;
        font-weight: normal;
    }
}

.aside-top-blog a {
    font-weight: bold;
}

.aside-top-blog,
.aside-bottom-blog {
    padding: 10%; 
    a {
        margin-left: 10px;
        letter-spacing: normal;
    }
    a:hover,
    a:focus {
        color: $theme-primary;
    }
}

aside.contact {
    padding: 3%;
    margin-bottom: 20%;
    line-height: normal;
}

ul.social-media li {
    display: inline-block;
    padding-right: 5%;
    font-size: 3rem;
    color: $theme-primary;
    font-weight: bold;
}

aside.contact a {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: none;
    margin: 5% 0 3%;
}




