html {
    font-size: 62.5%;
}

body {
    font-size: 2rem;
    font-family: $base-font;
    color: $main-font;
    background-color: $bg-primary;
    line-height: 32px;
}

.wrapper {
    max-width: 1240px;
    width: 85%;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* stripping styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

li {
    list-style: none;
    text-decoration: none;
} 

/*  a link styles */
a,
a:hover,
a:focus,
a:active,
a:visited {
    text-decoration: none;
    color: $main-font;
    display: inline-block; 
}

a:active {
    color: $theme-primary;
}

a {
    padding: 8px 12px;
}

a:hover,
a:focus {
    background-color: $accent;
    border-radius: 5px;
    position: relative;
    transition: 1s;
    transform: scale(1.5);
}

/* button styles */
button {
    border: none;
    background: $accent;
    cursor: pointer;
    // text-transform: uppercase;
    font-weight: bold;
    padding: 15px 22px;
    color: $main-font;
}

button:hover {
    background: $theme-primary;
}

h1 {
    font-family: $logo;
    font-weight: bold;
    color: $main-font;
    font-size: 80px;
    line-height: 92px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h1, 
h2,
h3,
button,
a {
    text-transform: uppercase;
}

h2,
h3,
h4,
h5,
button,
a {
    letter-spacing: 1px;
}

