header.home {
    background-color: $theme-primary;
}

header h1 {
    font-family: $logo;
    font-weight: bold;
    color: $main-font;
    font-weight: bold;    
}

.header-home {
    display: flex;
    position: relative;
}

.header-home .logo-container {
    width: 50%;  
    position: relative; 
}

.header-home .logo-container img {
    position: absolute;
    width: 40%;
    top: 28.5%;
    left: 1%;
}

.header-home .logo-container h1 {
    font-size: 13rem;
    position: absolute;
    top: 40%;
    left: 10%;
}

.header-home .img-container img {
    width: 60%;
    position: relative;
    top: 7%;
    right: -35%;
    box-shadow: 15px 15px $bg-secondary;  
}

.header-home img {
    width: 70%;
}

header.header-contact {
    background-image: url(../assets/contact-image-1.jpg);
}

header.header-blog {
    background-image: url(../assets/blog-image-1.jpg);
}

header.header-contact,
header.header-blog {
    background-repeat: no-repeat;
    background-size: cover;
    height: 57vh;
    position: relative; // DON'T CHANGE THIS!!!!
}

.header-blog h1,
.header-contact h1 {
    position: absolute; // DON'T CHANGE THIS!!!!
    top: 85%;
    left: 10%;
    font-size: 6.4rem;
}







