header.home {
    background-color: $theme-primary;
}

header h1 {
    font-family: $logo;
    font-weight: bold;
    color: $main-font;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 92px;
    
}

.header-home {
    display: flex;
    position: relative;
}

.header-home .logo-container {
    width: 50%;  
    position: relative; 
}

.header-home .logo-container img {
    position: absolute;
    width: 40%;
    top: 28.5%;
    left: 1%;
}

.header-home .logo-container h1 {
    font-size: 13rem;
    // font-size: calc(50px + (130 - 50) * ((100vw - 320px) / (1600 - 320)));
    position: absolute;
    top: 40%;
    left: 10%;
}

.header-home .img-container img {
    width: 60%;
    position: relative;
    top: 7%;
    right: -35%;
    box-shadow: 15px 15px $bg-secondary;  
}

.header-home img {
    width: 70%;
}

header.header-blog {
    background-image: url(../../../assets/blog-image-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header.header-contact {
    background-image: url(../assets/contact-image-1.jpg);
}

header.header-blog {
    background-image: url(../assets/blog-image-1.jpg);
}

header.header-contact,
header.header-blog {
    background-repeat: no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    height: 50vh;
    // position: relative;
}

.header-blog h1,
.header-contact h1 {
    position: relative;
    top: 82.5%;
    left: 7%;
    font-size: 6rem;
}







