.journey {
    margin: 10rem auto;
}
.journey .wrapper {
    // width: 90%;
    display: flex;
}

.journey .img-container {
    width: calc(25% - 20px);
    margin-left: 20px;
}

.journey img {
    box-shadow: 15px 15px $theme-primary;
}

.journey .text-content {
    width: calc(75% - 80px);
    margin-left: 80px;
}

.journey .text-content p {
    margin: 5% auto;
}