.links-home .wrapper {
    margin: 5% auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.links-home .links-box {
    width: calc(50% - 20px);
    margin: 0 5px 10px;
    display: flex;
}

.icon {
    width: 15%;
}

.icon i {
    background: $theme-primary;
    color: $main-font;
    font-size: 2.5rem;
    padding: 15px;
    border-radius: 50%;
    text-align: center;
}

.links-home .text-content {
    width: 85%;
    margin-top: 2%;
}

.links-home .text-content p {
    padding: 5% 0;
}