main.home {
    margin: 8% 0;
    p {
        margin: 2% 0;
    }
}

// Comment for other develpers  
// Rest of this Flexbox:
// .wrapper.blog {
//      display: flex;
// }
// aside.blog,
// aside.contact {
//     width: 30%;
//     margin-top: 10%;
// } Code for this flexbox on _aside.scss

main.blog,
form.contact {
    width: calc(70% - 40px);
    margin-top: 10%;
    margin-left: 40px;
    order: 2;
}

main.blog p {
    margin: 2% 0;
}

.blog article {
    background: $bg-secondary;
    padding: 4% 7%;
    margin-bottom: 5%;
    h6 {
        a, 
        a:hover, 
        a:focus {
            padding: 0;
            margin: 0;
            background-color: none;
        }
    }
    p {
    margin: 3% auto;
    }
}

.blog article a:hover,
.blog article a:focus {
        color: $theme-primary;
} // If you take this out, changes all a's too!

.comment-one,
.comment-two {
    display: flex;
    background: $bg-secondary;
    padding: 5%;
}

.comment-one .img-container,
.comment-two .img-container {
    width: 15%;
}

.comment-one .text-content,
.comment-two .text-content {
    width: calc(85% - 5%);
    margin-left: 5%;
}

.blog article h6,
.comments h6 {
    font-style: italic;
}

.comments .text-content a {
    color: $highlight-text;
    font-weight: bold;
    text-transform: none;
}

.blog article,
.comment-two {
    border-bottom: 5px solid $theme-primary;    
}

.comment-two {
    margin-top: 3%;
    margin-bottom: 5%;
}

