/* Portrait tablet and small desktops */
@media (max-width: 1000px) {
    nav .wrapper {
        width: 75%;
    }

    .links-home .wrapper {
        width: 96%;
    }
}

@media (max-width: 940px) {
    h1 {
        line-height: .3;
    }
    
    .wrapper {
        width: 85%;
    }
    
    .wrapper.blog,
    .wrapper.contact {
        width: 90%;
    }

    .header-home .logo-container img {
    top: 20%;
    }

    .header-home .logo-container h1 {
        top: 18%;
    }

    header.header-contact,
    header.header-blog {
        height: 45vh;
        h1 {
            top: 70%;
            left: 5%;
            line-height: 2.3;
            font-size: 6.75vw;
        }
    }

    // Feature (Home)
    .row-one,
    .row-two {
        display: inline-block;
        height: auto;
    } 

    .row-one .image-box,
    .row-two .image-box {
        width: 100%;
    }

    .row-one .image-box img,
    .row-two .image-box img {
        width: 45%;
    }
    
    .row-one .image-box,
    .row-two .image-box {
        top: 0;
    }

    .row-one .image-box img {
        left: 7%;
    }

    .row-two .image-box img {
        right: -48%;
    } 

    .row-one .text-container,
    .row-two .text-container {
        width: 90%;
    }

    .row-one .text-container {
        padding: 4%;
    }

    .row-two .text-container {
        padding: 4%;
        text-align: left;
    }

    .links-box .text-content a {
        margin-left: 5%;
    }

    .journey {
        margin: 5rem 0;
        .wrapper {
            width: 95%;
        }
    }

    .journey .img-container {
        width: calc(25% - 10px);
        margin-left: 10px;
    }

    .journey .text-content {
        width: calc(75% - 40px);
        margin-left: 40px;
    }

    .photo-gallery {
        margin-top: 2%;
        .wrapper {
            width: 95%;        
            img {
                margin: 0 10px;
                width: calc((100% - 40px) /3);
                padding-bottom: 2%;
            }
        }
    }

    main.blog,
    form.contact {
        width: calc(70% - 20px);
        margin-top: 10%;
        margin-left: 20px;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .hidden-for-mobile {
        display: none;
    }

    .hidden-for-desktop {
        display: block;
    }

    .fas.fa-bars {
        font-size: 4rem;
    }

    .wrapper.header-home {
        width: 70%;
    }

    .header-home {
        display: block;
    }

    .header-home .logo-container {
        width: 100%;  
        margin-bottom: 8%;
        img {
            position: relative;
            width: 16vw;
            top: 20%;
            left: 0;
        }
        h1 {
            font-size: 15vw;
            position: relative;
            top: 15%;
            left: 5%;
        } 
    }

    .header-home .logo-container img {
        top: 20%;
    }

    .header-home .img-container {
        width: 100%;
    }

    header.header-contact,
    header.header-blog {
        height: 35vh;
        h1 {
            top: 77%;
            line-height: 1.7;
        }
    }

    main.home {
    margin: 10% 0;
    }

    main.home p {
    margin: 4% 0;
    }

// Asides & Main / Form (Blog & Content)
    .wrapper.blog,
    .wrapper.contact {
        display: block;
        width: 100%;
    }

    main.blog,
    form.contact {
        width: 90%;
        margin: 5% auto;
    }

    aside.blog {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 5% 0;
    }

    .aside-top-blog,
    .aside-bottom-blog {
        width: calc(50% - 20px);
        margin: 0 5px;
        padding: 4%;
    }

    form.contact,
    aside.contact {
        width: 90%;
        margin: 10% auto;
    }

    aside.contact {
        display: flex;
        justify-content: space-around;
    }

    aside .social-media {
        width: 40%;
        padding-top: 10%;
        ul.social-media li {
            display: block;
        }
    }

    aside .address {
        width: 60%;
    }

// Feature (Home)
    .row-one .text-container,
    .row-two .text-container {
        width: 100%;
    }

    .photo-gallery {
        margin: 0;
        padding: 0;
        .wrapper {
            width: 100%;        
            img {
                margin: 0;
                width: 100%;
            }
        }
    }
}

@media (max-width: 692px) {
    .wrapper.header-home {
        width: 50%;
    }

    .header-home .logo-container {
        width: 100%;  
        margin-bottom: 10%;
        img {
            position: relative;
            width: 16vw;
            top: 20%;
            left: -15%;
        }
        h1 {
            font-size: 14vw;
            position: relative;
            top: 15%;
            left: -8%;
        } 
    }

    .header-home .logo-container img {
        top: 20%;
    }

    .header-home .img-container img {
        box-shadow: 8px 8px $bg-secondary
    }  

    header.header-contact,
    header.header-blog {
        height: 45vh;
        h1 {
            top: 83.5%;
            font-size: 7vw;
        }
    }
    
    header.header-blog {
        background-position-x: 90%;
    }

    header.header-contact {
        background-position-x: 50%;
    }

    .feature {
        margin-bottom: 5rem;
    }

    .links-home .wrapper {
        display: block;
    }

    .links-home .links-box {
        width: 100%;
    }

    .links-box .text-content a {
        margin-left: 0;
    }    

    .links-box .text-content {
        padding-right: 5%;
    }

    .journey .wrapper {
        display: inline-block;
    }

    .journey .img-container {
        width: 80%;
        margin: 0 0 5% 8.5%;
        img {
            width: 40%;
        }
    }

    .journey .text-content {
        width: 90%;
        margin-left: 10px;
        padding: 0 5%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .home h2,
    h3 {
        line-height: 1.1;
    }

    .home h2 {
        font-size: 2.8rem;
    }

    .home h3 {
        font-size: 2.6rem;
    }

    button {
        width: 100%;
    }

    .header-home .logo-container img {
        width: 20vw;
    }

    .header-home .img-container img {
    width: 100%;
    right: 5%;
    }

    header.header-blog {
        background-position-x: 70%;
    }    

    header.header-contact h1,
    header.header-blog h1 {
        font-size: 5rem;
        top: 80%;
        line-height: 1;
    }

    // Feature (Home)
    .row-one .image-box img,
    .row-two .image-box img {
        width: 85%;
        left: 7%;
    }

    .links-box .text-content a {
        margin-left: 0;
    }   

    .icon i {
        font-size: 2rem;
        padding: 10px;
    }
    
    .journey .img-container {
        display: none;
    }

    img.hidden-for-mobile {
        display: none;
    }

    aside.blog {
        display: block;
    }

    .aside-top-blog,
    .aside-bottom-blog {
        width: 100%;
        margin: 5% 0;
    }

    main.blog,
    form.contact,
    aside.blog,
    aside.contact {
        width: 90%;
        margin: 5% auto;
    }

    aside.contact {
        display: block;
    }

    aside .social-media,
    aside .address {
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding: 5%;
        li {
            padding: 0 5%;
        }
    }

    .wrapper.contact {
        margin-top: 20%;
    }

    fieldset {
        display: block;
    }
    
    fieldset input {
        width: 100%;
    }
}