/* Portrait tablet and small desktops */
@media (max-width: 1000px) {
    nav .wrapper {
        width: 75%;
    }

    .links-home .wrapper {
        width: 96%;
    }
}

@media (max-width: 940px) {
    h1 {
        line-height: .3;
    }
    
    .wrapper {
        width: 85%;
    }
    
    .wrapper.blog,
    .wrapper.contact {
        width: 90%;
    }

    .header-home .logo-container img {
    top: 20%;
    }

    .header-home .logo-container h1 {
        top: 18%;
    }

    .header-blog h1,
    .header-contact h1 {
        top: 70%;
        left: 5%;
        line-height: 2.3;
    }

    header.header-contact,
    header.header-blog {
        background-position-x: 40%;
        height: 45vh;
    }

    // Feature (Home)
    .row-one,
    .row-two {
        display: inline-block;
        height: auto;
    } // DON"T CHANGE THIS!!!

    .row-one .image-box,
    .row-two .image-box {
        width: 100%;
    }

    .row-one .image-box img,
    .row-two .image-box img {
        width: 45%;
    }
    
    .row-one .image-box,
    .row-two .image-box {
        top: 0;
    }

    .row-one .image-box img {
        left: 7%;
    }

    .row-two .image-box img {
        right: -48%;
    } 

    .row-one .text-container,
    .row-two .text-container {
        width: 90%;
    }

    .row-one .text-container {
        padding: 4%;
    }

    .row-two .text-container {
        padding: 4%;
        text-align: left;
    }

    .links-box .text-content a {
        margin-left: 5%;
    }

    .journey {
        margin: 5rem 0;
        .wrapper {
            width: 95%;
        }
    }

    .journey .img-container {
        width: calc(25% - 10px);
        margin-left: 10px;
    }

    .journey .text-content {
        width: calc(75% - 40px);
        margin-left: 40px;
    }

    .photo-gallery {
        margin-top: 2%;
        .wrapper {
            width: 95%;        
            img {
                margin: 0 10px;
                width: calc((100% - 40px) /3);
                padding-bottom: 2%;
            }
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .hidden-for-mobile {
        display: none;
    }

    .hidden-for-desktop {
        display: block;
    }

    .hamburger {
        position: relative;
    }

    .fas.fa-bars {
        font-size: 4rem;
        padding-top: 1%;
        position: relative;
        // left: 100%;
    }

    // nav ul.hidden-for-mobile {
    //     display: none;
    // }

    // Test
    nav .menu {
        width: 80%;
        display: none;
            // visibility: hidden;

    }

    nav .hamburger {
        width: 20%;
        display: block;
    }

    // nav .menu ul {
    //     visibility: hidden;
    // }

    .wrapper.header-home {
        width: 95%;
    }

    .header-home {
        display: block;
    }

    .header-home .logo-container {
        width: 100%;  
        margin-bottom: 8%;
        img {
            position: relative;
            width: 16vw;
            top: 20%;
            left: 12%;
        }
        h1 {
            font-size: 15vw;
            position: relative;
            top: 15%;
            left: 17%;
        } 
    }

    .header-home .logo-container img {
        top: 20%;
    }

    .header-home .img-container {
        width: 100%;
    }

    // .header-blog h1,
    // .header-contact h1 {
    //     font-size: ;
    // }

    main.home {
    margin: 10% 0;
    }

    main.home p {
    margin: 4% 0;
    }

// Feature (Home)
    .row-one .text-container,
    .row-two .text-container {
        width: 100%;
    }

    .photo-gallery {
        margin: 0;
        padding: 0;
        .wrapper {
            width: 100%;        
            img {
                margin: 0;
                width: 100%;
            }
        }
    }

}

@media (max-width: 692px) {
    // .fas.fa-bars {
    //     font-size: 4rem;
    //     padding-top: 1%;
    //     position: relative;
    //     left: 105%;
    // }    
    
    .feature {
        margin-bottom: 5rem;
    }

    .links-home .wrapper {
        display: block;
    }

    .links-home .links-box {
    width: 100%;
    }

    .links-box .text-content a {
        margin-left: 0;
    }    

    .links-box .text-content {
        padding-right: 5%;
    }

    .journey .wrapper {
        display: inline-block;
    }

    .journey .img-container {
        width: 100%;
        margin: 0 0 5% 8.5%;
        img {
            width: 40%;
        }
    }

    .journey .text-content {
        width: 100%;
        margin-left: 20px;
        padding: 0 5%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .home h2,
    h3 {
        line-height: 1.1;
    }

    .home h2 {
        font-size: 2.8rem;
    }

    .home h3 {
        font-size: 2.6rem;
    }

    button {
        width: 100%;
    }

    // .fas.fa-bars {
    //     padding-top: 4%;
    //     left: 100%;
    // }

    .header-home .logo-container img {
        width: 20vw;
    }

    // Feature (Home)
    .row-one .image-box img,
    .row-two .image-box img {
        width: 85%;
        left: 7%;
    }

    .links-box .text-content a {
        margin-left: 0;
    }   

    .icon i {
        font-size: 2rem;
        padding: 10px;
    }
    
    .journey .img-container {
        display: none;
    }

    img.hidden-for-mobile {
        display: none;
    }
}