.hidden-for-desktop {
    display: none;
} 

nav {
    background: $theme-primary;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
        }
}

.menu {
    width: 100%;
}

.hamburger {
    margin: 1% 2%;
    font-size: 4rem;
}

nav li {
    display: inline-block;
    padding: 0 1%;
}

nav ul li:nth-child(3) {
    font-family: $logo;
    font-weight: bold;
    padding: 0 2%;
}

nav p,
nav a,
nav h2 {
    font-weight: bold;
}

nav li h2 {
    font-size: 3rem;
}

nav p {
    color: $bg-primary;
}

nav li a {
    line-height: 29px;
}

