nav {
    background: $theme-primary;
    text-transform: uppercase;
    .wrapper {
        width: 50%;
            ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 1rem;
        }
    }
}

//  li {
//     &:nth-of-type(h2) {
//     font-family: $logo-titles;
//     font-weight: bold;
//     }
// }

nav ul li:nth-child(3) {
    font-family: $logo;
    font-weight: bold;
    padding: 0 10px;
}

nav p,
nav a,
nav h2 {
    font-weight: bold;
}

nav li h2 {
    font-size: 3.6rem;
}

nav p {
    color: $bg-primary;
}

nav li a {
    line-height: 29px;
}
