html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: #2c2c2c;
  background-color: #F0EFED;
  line-height: 32px;
}

.wrapper {
  max-width: 1240px;
  width: 85%;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* stripping styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
button {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  list-style: none;
  text-decoration: none;
}

/*  a link styles */
a,
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration: none;
  color: #2c2c2c;
  display: inline-block;
}

a:active {
  color: #F6A823;
}

a {
  padding: 8px 12px;
}

a:hover,
a:focus {
  background-color: #05AFC1;
  border-radius: 5px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

/* button styles */
button {
  border: none;
  background: #05AFC1;
  cursor: pointer;
  font-weight: bold;
  padding: 15px 22px;
  color: #2c2c2c;
}

button:hover {
  background: #F6A823;
}

h1 {
  font-family: "Lora", serif;
  font-weight: bold;
  color: #2c2c2c;
  font-size: 80px;
  line-height: 92px;
}

h2 {
  font-size: 42px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h1,
h2,
h3,
button,
a {
  text-transform: uppercase;
}

h2,
h3,
h4,
h5,
button,
a {
  letter-spacing: 1px;
}

nav {
  background: #F6A823;
  text-transform: uppercase;
}

nav .wrapper {
  width: 50%;
}

nav .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

nav ul li:nth-child(3) {
  font-family: "Lora", serif;
  font-weight: bold;
  padding: 0 10px;
}

nav p,
nav a,
nav h2 {
  font-weight: bold;
}

nav p {
  color: #F0EFED;
}

nav li a {
  line-height: 29px;
}

header {
  background: #F6A823;
}

header h1 {
  font-family: "Lora", serif;
  font-weight: bold;
  color: #2c2c2c;
}

.header-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.header-home .logo-container {
  width: 50%;
  position: relative;
}

.header-home .logo-container img {
  position: absolute;
  width: 40%;
  top: 29%;
  left: 2%;
}

.header-home .logo-container h1 {
  font-size: 13rem;
  font-weight: bold;
  text-transform: uppercase;
  list-style: 92px;
  position: absolute;
  top: 40%;
  left: 10%;
}

.header-home .img-container img {
  width: 60%;
  position: relative;
  top: 7%;
  right: -35%;
  -webkit-box-shadow: 15px 15px #F0EFED;
          box-shadow: 15px 15px #F0EFED;
}

.header-home img {
  width: 70%;
}

main {
  padding: 12rem 20rem 12rem 5rem;
  margin-top: 10px;
}

main p {
  margin: 2% 0;
}

.feature {
  background: #FFF;
  margin-bottom: 10rem;
}

.row-one,
.row-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh;
}

.row-one .image-box,
.row-two .image-box {
  width: 62%;
  position: relative;
}

.row-one .image-box {
  background: #A82706;
  top: -10%;
}

.row-two .image-box {
  background: #F6A823;
  top: 12%;
}

.row-one .image-box img,
.row-two .image-box img {
  width: 85%;
  position: relative;
}

.row-one .image-box img {
  top: -5.5%;
  left: 12%;
}

.row-two .image-box img {
  top: -5%;
  right: 3.5%;
}

.row-one .text-container,
.row-two .text-container {
  width: 60%;
}

.row-one .text-container {
  padding: 6%;
}

.row-two .text-container {
  padding: 2% 6%;
  text-align: right;
}

.row-one .text-container p,
.row-two .text-container p {
  padding: 3% 0;
}

.links-home {
  margin: 15% auto;
}

.links-home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links-home li {
  width: calc(50% - 40px);
  padding: 1%;
  margin-left: 20px;
}

span.round {
  color: #2c2c2c;
  font-size: 2.5rem;
  padding: 15px;
  margin-right: 10px;
  background: #F6A823;
  border-radius: 50%;
}

.journey {
  margin: 10rem auto;
}

.journey .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.journey .img-container {
  width: 22.5%;
}

.journey img {
  -webkit-box-shadow: 15px 15px #F6A823;
          box-shadow: 15px 15px #F6A823;
}

.journey .text-content {
  width: calc(77.5% - 80px);
  margin-left: 80px;
}

.journey .text-content p {
  margin: 5% auto;
}
